.header{
    background: #1f2630;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
}
.header .logo
{
    color: #e7e0e0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
