.header{
    background: #1f2630;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
}
.header .logo
{
    color: #e7e0e0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.msf {
	margin: 0;
	margin-top: 5px;
}
.msf .form-section
{
	float: left;
	position: relative;
}
.msf .control-select{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1000;
}
.msf .c-selector {
	font-family:sans-serif;
	border-radius: 3px 0 0 3px;
	text-decoration: none;
	color: #646464;
	background:
	#ededed;
	line-height: 38px;
	padding: 0 8px;
	display: inline-block;
	box-sizing: border-box;
	font-size: 13px;
	border:1px solid 
	#ccc;
}
.msf .section-mid {
    width:50%;
}
.msf .control-text {
    border-radius:none;
    width:100%;
}
.msf .control-submit{
    color: white;
    background: orange;
    border-radius: 0 3px 3px 0;
    border: none;
}
    .header-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    }
    .header-nav > li {
    display: inline-block;
    margin-right: 10px;
    }
    .header-nav > li > a {
    color: 
    #e7e0e0a8;
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
    }
    .header-nav > li > a.categories-toggle{
    border: 1px solid #66666670;
    padding: 7px 5px;
    border-radius: 3px;
    color:
    #e7e0e0;
    text-transform: uppercase;
    font-weight: 600;
    }    
    .header-nav .categories-toggle i {
    	color: #e7e0e0a7;
    	font-size: 13px;
    }
    .header-nav.multi-line-header-nav {
    position: absolute;
    top: -22px;
    }
    .header-nav-line {
    display: block;
    }
    .header-nav-line.header-nav-line-1 {
    font-size: 12px;
    /*text-transform: capitalize;*/
    margin-bottom: 3px;
    }
    .header-nav > li > a.header-nav-bold {
    color: 
    #e7e0e0;
    font-weight: 600;
    }
    a.header-shop {
    display: block;
    position: relative;
    }
    a.header-shop img {
    width: 50px;
    }
    a.header-shop span.items-count{
    position:absolute;
    color:orange;
    }
    .header div.a-list{
    position: absolute;
    top: 100%;
    background:
    #fbfafa;
    min-width: 300px;
    border: 1px solid
    #ccc;
    border-radius: 3px;
    padding: 5px 0;
    z-index:3000;
    display:none;
    }
    .header div.a-list .list-item{
    display: block;
    color:
    #646464;
    text-decoration: none;
    text-transform: capitalize;
    padding: 4px 4px;
    font-family: sans-serif;
    }
    .header li:hover > div.a-list{
    display:block;
    }









