body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #646464;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.no-margin
{
    margin-top: 0;
    margin-bottom: 0;
}
{
    box-sizing: border-box;
    outline: 1px solid;
}
form .form-control{
    height: 40px;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-left-width: none;
}
